body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f2f3f4;
}

h1 {
  color: red;
}

h2 {
  color: green;
}

img {
  width: 200px;
  border-radius: 10px;
  margin-top: 20px;
}
