body {
  font-family: Arial;
  background: #f4f6f8;
  margin: 0;
  text-align: center;
}

.profile {
  background: white;
  padding: 30px;
}

.profile img {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h1 {
  color: #e63946;
}

.section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  background: #1d3557;
  color: white;
  border: none;
  border-radius: 5px;
}
