body {
  font-family: Arial;
  background: #f4f6f8;
  margin: 0;
  text-align: center;
}

.profile {
  background: white;
  padding: 30px;
}

.profile img {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h1 {
  color: #e63946;
}

.section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  background: #1d3557;
  color: white;
  border: none;
  border-radius: 5px;
}
/* Mobile Responsive */
@media (max-width: 600px) {

  body {
    text-align: center;
  }

  .profile img {
    width: 100px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  button {
    width: 90%;
    padding: 12px;
    font-size: 16px;
  }

  .section {
    margin: 10px;
  }
}
